apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
      - name: java-app
        image: 4711127451.dkr.ecr.us-east-1.amazonaws.com/my-java-app:latest
        ports:
        - containerPort: 8080
